<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true" >
	<variable name="TodayLogPath" value="${basedir}/Logs/${shortdate:universalTime=true}/" />
	<variable name="MethodName" value="${callsite:className=False:includeNamespace=False:methodName=true:skipFrames=1}" />
	<!-- Insert ${environment-user} after upgrade to NLog 4.6.4. -->
	<variable name="UserName" value="${whenEmpty:whenEmpty=${aspnet-user-identity}:inner=}" />
	<variable name="ThreadIdOrName" value="${whenEmpty:whenEmpty=${threadid}:inner=${threadname}}" />
	<variable name="Message" value="${message:withException=true}" />
	<variable name="Date" value="${date:format=yyyy-MM-dd HH\:mm\:ss,fff}" />
	<variable name="DefaultLayout" value="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${logger} ${MethodName} - ${Message}" />
	<variable name="SimplifiedLayout" value="${Date} ${Message}" />
	<variable name="SimplifiedLayoutWithLevel" value="${Date} [${uppercase:${level}}] ${Message}" />
	<targets>
		<default-wrapper xsi:type="AsyncWrapper" queueLimit="200" overflowAction="Grow" />
		<default-target-parameters xsi:type="File" keepFileOpen="false" encoding="utf-8" />
		<target name="aspnetcoreFile" xsi:type="File" layout="${DefaultLayout}" fileName="${TodayLogPath}/aspnetcore.log" />
		<target name="console" xsi:type="Console" layout="${SimplifiedLayout}" />
		<target name="commonAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${TodayLogPath}/Common.log" >
		</target>
		<target name="universalAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${TodayLogPath}/${logger:shortName=True}.log" />
		<target name="universalSyncAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${TodayLogPath}/Sync/${logger:shortName=True}.log" />
		<target name="errorAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${TodayLogPath}/Error.log" />
		<target name="scedulerAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${TodayLogPath}/Scheduler.log" />
		<target name="commonSyncAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${TodayLogPath}/Sync/Common.log" />
		<target name="caseNotificationAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${TodayLogPath}/CaseNotification/CaseNotification.log" />
		<target name="timeZoneMacrosConverterAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${TodayLogPath}/TimeZoneMacrosConverter/TimeZoneMacrosConverter.log" />
		<target name="emailMiningAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${TodayLogPath}/Enrichment/EmailMining.log" />
		<target name="contactEnrichmentAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${TodayLogPath}/Enrichment/ContactEnrichment.log" />
		<target name="MLAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${TodayLogPath}/ML/ML.log" />
		<target name="multiDeleteAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${TodayLogPath}/MultiDelete.log" />
		<target name="omnichannelContactIdentifierAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${TodayLogPath}/OmnichannelMessaging/OmnichannelContactIdentifier.log" />
		<target name="omnichannelChatAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${TodayLogPath}/OmnichannelMessaging/OmnichannelChat.log" />
		<target name="omnichannelDetailsAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${TodayLogPath}/OmnichannelMessaging/OmnichannelDetails.log" />
		<target name="omnichannelOperatorManagerAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${TodayLogPath}/OmnichannelMessaging/OmnichannelOperatorManager.log" />
		<target name="omnichannelMessageHandlerAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${TodayLogPath}/OmnichannelMessaging/OmnichannelMessageHandler.log" />
		<target name="omnichannelMessagingAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${TodayLogPath}/OmnichannelMessaging/OmnichannelMessaging.log" />
		<target name="omnichannelMessagingLibAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${TodayLogPath}/OmnichannelMessaging/OmnichannelMessagingLib.log" />
		<target name="caseTermCalculationAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${TodayLogPath}/CaseTermCalculation/CaseTermCalculation.log" />
		<target name="liveEditingAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${TodayLogPath}/LiveEditing/LiveEditing.log" />
		<target name="timelineLoaderAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${TodayLogPath}/Timeline/TimelineLoader.log" />
		<target name="almUserServiceAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${TodayLogPath}/ALM/AlmUserService.log" />
		<target name="almUserProfileServiceAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${TodayLogPath}/ALM/AlmUserProfileService.log" />
		<target name="almIdentityServerProviderAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${TodayLogPath}/ALM/AlmIdentityServerProvider.log" />
		<target name="sqlLogAppender" xsi:type="File" fileName="${TodayLogPath}/SQL.json" >
			<archiveNumbering>Sequence</archiveNumbering>
			<archiveEvery>Day</archiveEvery>
			<archiveFileName>${TodayLogPath}/SQL.{#}.json</archiveFileName>
			<archiveAboveSize>8388608</archiveAboveSize>
			<layout xsi:type="JsonLayout" >
				<attribute name="time" layout="${longdate}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="app" layout="${processname}" />
				<attribute name="thread" layout="${threadid}" />
				<attribute name="ndc" layout="${ndc}" />
				<attribute name="user" layout="${aspnet-user-identity}" />
				<attribute name="exception" layout="${exception}" encode="true" />
				<attribute name="message" layout="${messageObject}" encode="false" />
			</layout>
		</target>
		<target name="applicationAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${TodayLogPath}/Application.log" >
		</target>
		<target name="retryOperationAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${TodayLogPath}/RetryOperation.log" >
		</target>
		<target name="loggingDataReaderAppender" xsi:type="File"
			fileName="${TodayLogPath}/LoggingDataReader.json" >
			<archiveNumbering>DateAndSequence</archiveNumbering>
			<archiveEvery>Day</archiveEvery>
			<archiveDateFormat>yyyy_MM_dd</archiveDateFormat>
			<archiveAboveSize>262144</archiveAboveSize>
			<layout xsi:type="JsonLayout" >
				<attribute name="messageObject" layout="${messageObject}" encode="false" />
			</layout>
		</target>
		<target name="performanceJsonLoggerAppender" xsi:type="File"
			fileName="${TodayLogPath}/PerformanceLogger.json" >
			<archiveNumbering>DateAndSequence</archiveNumbering>
			<archiveEvery>Day</archiveEvery>
			<archiveDateFormat>yyyy_MM_dd</archiveDateFormat>
			<archiveAboveSize>262144</archiveAboveSize>
			<layout xsi:type="JsonLayout" excludeProperties="ndc,appname,level" >
				<attribute name="d" layout="${longdate}" />
				<attribute name="t" layout="${threadid}" />
				<attribute name="u" layout="${UserName}" />
				<attribute name="m" layout="${messageObject}" encode="false" />
			</layout>
		</target>
		<target name="sspUserOperationAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${TodayLogPath}/SSP/SSPUserOperation.log" />
		<target name="googleContactAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${TodayLogPath}/GoogleContact.log" />
		<target name="clientAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${TodayLogPath}/Client.log" />
		<target name="clientUnitAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${TodayLogPath}/ClientUnit.log" />
		<target name="queuesNotificationsAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${TodayLogPath}/QueuesNotifications.log" />
		<target name="processAppender" xsi:type="File"
			layout="${Date} ${uppercase:${level}} ${UserName} ${logger:shortName=true} ${MethodName} - ${Message}"
			fileName="${TodayLogPath}/BusinessProcess.log" />
		<target name="coreDiagnosticsAppender" xsi:type="File"
			layout="${SimplifiedLayout}"
			fileName="${TodayLogPath}/CoreDiagnostics.log" />
		<target name="authenticationAppender" xsi:type="File"
			layout="${SimplifiedLayoutWithLevel}"
			fileName="${TodayLogPath}/Auth.log" />
		<target name="packagesSynchronizationAppender" xsi:type="File"
			layout="${SimplifiedLayout}"
			fileName="${TodayLogPath}/PackagesSynchronization.log" />
		<target name="packagesFileTarget" xsi:type="File"
			layout="${SimplifiedLayout}"
			fileName="${TodayLogPath}/Packages.log" />
		<target name="createBundleAppender" xsi:type="File"
			layout="${SimplifiedLayout}"
			fileName="${TodayLogPath}/CreateBundle.log" />
		<target name="msgUtilServiceAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${TodayLogPath}/MsgUtilService.log" />
		<target name="activeCallCollectionAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${TodayLogPath}/ActiveCallCollection.log" />
		<target name="globalSearchAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${TodayLogPath}/GlobalSearch.log" />
		<target name="actorSystemAppender" xsi:type="File"
			layout="${Date} ${uppercase:${level}} ${logger} - ${Message}"
			fileName="${TodayLogPath}/ActorSystem.log" />
		<target name="componentSpaceAppender" xsi:type="File"
			layout="${Date} ${uppercase:${level}} ${logger} - ${Message}"
			fileName="${TodayLogPath}/ComponentSpace.log" />
		<target name="messagingAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${TodayLogPath}/Messaging.log" />
		<target name="bonusPaymentAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${TodayLogPath}/BonusPayment.log" />
		<target name="threadPoolAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
			fileName="${TodayLogPath}/ThreadPool.log" />
		<target name="serviceBusAppender" xsi:type="File"
				layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} ${MethodName} - ${Message}"
				fileName="${TodayLogPath}/ServiceBus.log" />
		<target name="GelfFileAppender" xsi:type="File" fileName="${TodayLogPath}/gelf.log">
			<layout xsi:type="GelfJsonLayout" facility="bpmOnline">
				<attribute name="mesasgeObject" layout="${messageObject}" encode="false"/>
			</layout>
		</target>
		<target name="requestResponseAppender" xsi:type="File"
			layout="${Message}"
			fileName="${TodayLogPath}/Request.log" />
		<target name="extendedRequestResponseAppender" xsi:type="File"
			layout="${Date} [${ThreadIdOrName}] ${uppercase:${level}} ${UserName} - ${Message}"
			fileName="${TodayLogPath}/ExtendedRequest.log" />
		<target name="queryExecutionRulesAppender" xsi:type="File"
			layout="${DefaultLayout}"
			fileName="${TodayLogPath}/QueryExecutionRules.log" />
	</targets>
</nlog>