<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true" >
	<include file="nlog.targets.config" />
	<rules>
		<logger name="ComponentSpace.*" final="true" minlevel="Debug" writeTo="componentSpaceAppender" />
		<logger name="Microsoft.*" final="true" writeTo="aspnetcoreFile" />
		<logger name="Quartz*" writeTo="scedulerAppender" minlevel="Info" final="true" />
		<logger name="Terrasoft.Core.Scheduler.*" writeTo="scedulerAppender" minlevel="Info" final="true" />
		<logger name="LDAP" writeTo="universalAppender" minlevel="Info" final="true" />
		<logger name="S3" writeTo="universalAppender" minlevel="Info" final="true" />
		<logger name="AzureBlobStorage" writeTo="universalAppender" minlevel="Info" final="true" />
		<logger name="ODataErrorLog" writeTo="universalSyncAppender" final="true" />
		<logger name="Terrasoft.Sync" writeTo="commonSyncAppender" minlevel="Info" final="true" />
		<logger name="Excel" writeTo="universalAppender" minlevel="Info" final="true" />
		<logger name="Imap" writeTo="universalSyncAppender" minlevel="Info" final="true" />
		<logger name="Exchange" writeTo="universalSyncAppender" minlevel="Info" final="true" />
		<logger name="GlobalSearch" writeTo="globalSearchAppender" minlevel="Info" final="true" />
		<logger name="CaseNotification" writeTo="caseNotificationAppender" final="true" />
		<logger name="TimeZoneMacrosConverter" writeTo="timeZoneMacrosConverterAppender" final="true" />
		<logger name="EmailMining" writeTo="emailMiningAppender" final="true" />
		<logger name="InstallZipPackage" writeTo="universalAppender" minlevel="Info" final="true" />
		<logger name="AppInfoSynchronization" writeTo="universalAppender" minlevel="Info" final="true" />
		<logger name="ContactEnrichment" writeTo="contactEnrichmentAppender" final="true" />
		<logger name="EmailListener" writeTo="universalSyncAppender" final="true" />
		<!-- ExchangeListener is deprecated. Use EmailListener logger -->
		<logger name="ExchangeListener" writeTo="universalSyncAppender" final="true" />
		<logger name="ML" writeTo="MLAppender" final="true" />
		<logger name="Deduplication" writeTo="universalAppender" minlevel="Info" final="true" />
		<logger name="IncidentRegistration" writeTo="universalAppender" minlevel="Info" final="true" />
		<logger name="CaseMessageListener" writeTo="universalAppender" minlevel="Info" final="true" />
		<logger name="EmailCases" writeTo="universalAppender" minlevel="Error" final="true" />
		<!-- To prevent futher rules processing for levels that are lower than 'Error', -->
		<!-- we need to add an empty rule with final attribute (without level* and writeTo attributes). -->
		<logger name="EmailCases" final="true" />
		<logger name="OmnichannelContactIdentifier" writeTo="omnichannelContactIdentifierAppender" minlevel="Info" final="true" />
		<logger name="OmnichannelChat" writeTo="omnichannelChatAppender" minlevel="Info" final="true" />
		<logger name="OmnichannelDetails" writeTo="omnichannelDetailsAppender" minlevel="Info" final="true" />
		<logger name="OmnichannelOperatorManager" writeTo="omnichannelOperatorManagerAppender" minlevel="Info" final="true" />
		<logger name="OmnichannelMessageHandler" writeTo="omnichannelMessageHandlerAppender" minlevel="Info" final="true" />
		<logger name="OmnichannelMessaging" writeTo="omnichannelMessagingAppender" minlevel="Info" final="true" />
		<logger name="OmnichannelMessagingLib" writeTo="omnichannelMessagingLibAppender" minlevel="Info" final="true" />
		<logger name="LiveEditing" writeTo="liveEditingAppender" minlevel="Info" final="true" />
		<logger name="TimelineLoader" writeTo="timelineLoaderAppender" minlevel="Debug" final="true" />
		<logger name="CaseTermCalculation" writeTo="caseTermCalculationAppender" minlevel="Info" final="true" />
		<logger name="AlmUserService" writeTo="almUserServiceAppender" minlevel="Info" final="true" />
		<logger name="AlmUserProfileService" writeTo="almUserProfileServiceAppender" minlevel="Info" final="true" />
		<logger name="AlmIdentityServerProvider" writeTo="almIdentityServerProviderAppender" minlevel="Info" final="true" />
		<logger name="MultiDelete" writeTo="multiDeleteAppender" minlevel="Info" final="true" />
		<logger name="BonusPayment" writeTo="bonusPaymentAppender" minlevel="Info" final="true" />
		<logger name="AutoTest" writeTo="universalAppender" minlevel="Info" final="true" />
		<logger name="Notifications" writeTo="universalAppender" minlevel="Info" final="true" />
		<logger name="Terrasoft.Core.DB.DBExecutor*" writeTo="sqlLogAppender" minlevel="Debug" final="true" />
		<logger name="Terrasoft.WebApp.Loader.*" writeTo="applicationAppender" minlevel="Info" final="true" />
		<logger name="Terrasoft.WebApp.Global" writeTo="applicationAppender" minlevel="Info" final="true" />
		<logger name="Terrasoft.Core.LicManager" writeTo="applicationAppender" minlevel="Info" final="true" />
		<logger name="Redis" writeTo="universalAppender" minlevel="Info" final="true" />
		<logger name="OpenID" writeTo="universalAppender" minlevel="Info" final="true" />
		<logger name="Terrasoft.Core.RetryOperation" writeTo="retryOperationAppender" minlevel="Warn" final="true" />
		<logger name="Terrasoft.Core.RetryOperation" final="true" />
		<logger name="Messaging" writeTo="messagingAppender" minlevel="Info" final="true" />
		<logger name="Client.*" writeTo="clientAppender" final="true" />
		<logger name="Terrasoft.Core.DB.LoggingDataReader" writeTo="loggingDataReaderAppender" minlevel="Debug" final="true" />
		<logger name="Terrasoft.Core.PerformanceLogger" writeTo="performanceJsonLoggerAppender" final="true" />
		<logger name="Build" writeTo="universalAppender" final="true" />
		<logger name="SSPUserOperation" writeTo="sspUserOperationAppender" final="true" />
		<logger name="SecurityToken" writeTo="universalAppender" final="true" />
		<logger name="Terrasoft.GoogleServices.GContactSyncProvider" writeTo="googleContactAppender" minlevel="Error" final="true" />
		<logger name="Svn" writeTo="universalAppender" final="true" />
		<logger name="PlatformLog" writeTo="universalAppender" final="true" />
		<logger name="Terrasoft.Core.ClientUnitUtilities" writeTo="clientUnitAppender" final="true" />
		<logger name="Terrasoft.Configuration.QueuesUtilities" writeTo="queuesNotificationsAppender" minlevel="Debug" final="true" />
		<logger name="MacrosHelperV2" writeTo="queuesNotificationsAppender" minlevel="Error" final="true" />
		<logger name="MacrosHelperV2" final="true" />
		<logger name="Process" writeTo="processAppender" minlevel="Info" final="true" />
		<logger name="ProcessMaintenanceLog" writeTo="universalAppender" minlevel="Info" final="true" />
		<logger name="ProcessMaintenanceLog" final="true" />
		<logger name="Terrasoft.Nui.ServiceModel.WebService.ClientUnitSchemaDesigner" writeTo="universalAppender" minlevel="Info" final="true" />
		<logger name="Terrasoft.Nui.ServiceModel.WebService.ClientUnitSchemaDesigner" final="true" />
		<logger name="ProcessDesignLog" writeTo="processAppender" minlevel="Info" final="true" />
		<logger name="ProcessExecutionTraceLog" writeTo="processAppender" minlevel="Info" final="true" />
		<logger name="FileStorage" writeTo="universalAppender" minlevel="Warn" final="true" />
		<logger name="FileStorage" final="true" />
		<logger name="Terrasoft.Core.ProcessEngine" writeTo="processAppender" minlevel="Info" final="true" />
		<logger name="Terrasoft.Core.Process.ProcessExecutor" writeTo="processAppender" minlevel="Info" final="true" />
		<logger name="Terrasoft.Core.Packages.PackageDBStorage" writeTo="coreDiagnosticsAppender" final="true" />
		<logger name="Terrasoft.Core.Packages.Descriptor" writeTo="coreDiagnosticsAppender" final="true" />
		<logger name="Terrasoft.WebApp.Loader.Authentication.Ldap.LdapProvider" writeTo="authenticationAppender" final="true" />
		<logger name="Authentication" writeTo="authenticationAppender" minlevel="Info" final="true" />
		<logger name="ConfigurationBuild" writeTo="universalAppender" minlevel="Info" final="true" />
		<logger name="Terrasoft.Core.Packages.PackageStorageComposer" writeTo="packagesSynchronizationAppender" minlevel="Info" final="true" />
		<logger name="Terrasoft.Core.Packages.PackageStorage" writeTo="packagesSynchronizationAppender" minlevel="Info" final="true" />
		<logger name="Terrasoft.Core.Packages.PackageDBResourcesStorage" writeTo="packagesSynchronizationAppender" minlevel="Info" final="true" />
		<logger name="Terrasoft.Core.Packages.PackageFileResourcesStorage" writeTo="packagesSynchronizationAppender" minlevel="Info" final="true" />
		<logger name="Terrasoft.Core.Packages.PackageInstallUtilities" writeTo="packagesSynchronizationAppender" minlevel="Info" final="true" />
		<logger name="Packages" writeTo="packagesFileTarget" minlevel="Info" final="true" />
		<logger name="CreateBundle" writeTo="createBundleAppender" final="true" />
		<logger name="Analytics" writeTo="universalAppender" minlevel="Info" final="true" />
		<logger name="ActorSystem" writeTo="actorSystemAppender" final="true" />
		<logger name="Terrasoft.Messaging.Common.MsgUtilService" final="true" />
		<logger name="Terrasoft.Messaging.Common.ActiveCallCollection" final="true" />
		<logger name="EntityEventAsyncExecutor" writeTo="universalAppender" final="true" />
		<logger name="FullPipeline" writeTo="universalAppender" final="true" />
		<logger name="ThreadPool" writeTo="threadPoolAppender" minlevel="Warn" final="true" />
		<logger name="ThreadPool" final="true" />
		<logger name="RequestLogger" writeTo="requestResponseAppender" maxlevel="Info" final="true" />
		<logger name="ExtendedRequestLogger" writeTo="extendedRequestResponseAppender" maxlevel="Info" final="true" />
		<logger name="Vault" writeTo="universalAppender" minlevel="Info" final="true" />
		<logger name="QueryExecutionRules" writeTo="queryExecutionRulesAppender" minlevel="Warn" final="true" />
		<!-- Starting from 7.14.0, operation logs are written to database by default. -->
		<!-- Turn this logger on only if you want to store your audit logs elsewhere. -->
		<logger name="OperationLogger" minlevel="Info" final="true" />
		<logger name="ServiceBus" final="true" minlevel="Info" writeTo="serviceBusAppender" />
		<logger name="MassTransit" final="true" minlevel="Info" writeTo="serviceBusAppender" />
		<!--<logger name="*" writeTo="GelfFileAppender" minlevel="Debug" final="true" />-->
		<!-- Place your own loggers with `final` attribute BEFORE this default logger -->
		<logger name="*" minlevel="Warn" writeTo="console" />
		<logger name="*" writeTo="errorAppender" minlevel="Error" final="true" />
		<logger name="*" writeTo="commonAppender" minlevel="Info" maxlevel="Warn" />
	</rules>
</nlog>