<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="redis" type="Terrasoft.Redis.Abstractions.RedisConfigSection, Terrasoft.Redis.Abstractions" />
    <section name="operationLogger" type="Terrasoft.Core.OperationLog.OperationLoggerConfigurationSection, Terrasoft.Core" />
    <sectionGroup name="terrasoft" type="Terrasoft.Core.AppConfigurationSectionGroup, Terrasoft.Core">
      <section name="sysSettings" type="Terrasoft.Core.SysSettingsConfigurationSection, Terrasoft.Core" requirePermission="false" />
      <section name="features" type="Terrasoft.Core.FeaturesConfigurationSection, Terrasoft.Core" requirePermission="false" />
      <section name="auth" type="Terrasoft.Web.Common.AuthConfigurationSection, Terrasoft.Web.Common" />
      <sectionGroup name="resources" type="Terrasoft.Common.ResourceConfigurationSectionGroup, Terrasoft.Common">
        <section name="cultures" type="Terrasoft.Common.ResourceCulturesSection, Terrasoft.Common" requirePermission="false" />
        <section name="generalSettings" type="Terrasoft.Common.ResourceGeneralSettingsSection, Terrasoft.Common" requirePermission="false" />
      </sectionGroup>
      <section name="managers" type="Terrasoft.Core.ManagerProviderConfigurationSection, Terrasoft.Core" requirePermission="false" />
      <section name="schemaManagers" type="Terrasoft.Core.SchemaManagerProviderConfigurationSection, Terrasoft.Core" requirePermission="false" />
      <section name="storeDataAdapters" type="Terrasoft.Core.Store.StoreAdaptersConfigurationSection, Terrasoft.Core" requirePermission="false" />
      <section name="storeCacheAdapters" type="Terrasoft.Core.Store.StoreAdaptersConfigurationSection, Terrasoft.Core" requirePermission="false" />
      <section name="clientStoreCacheAdapters" type="Terrasoft.Core.Store.ClientStoreAdaptersConfigurationSection, Terrasoft.Core" requirePermission="false" />
      <sectionGroup name="db" type="Terrasoft.Core.DB.DBConfigurationSectionGroup, Terrasoft.Core">
        <section name="general" type="Terrasoft.Core.DB.DBConfigurationSection, Terrasoft.Core" requirePermission="false" />
      </sectionGroup>
      <section name="managerProvider" type="Terrasoft.Core.ManagerProviderConfigurationSection, Terrasoft.Core" requirePermission="false" />
      <section name="webControls" type="Terrasoft.UI.WebControls.GlobalConfig, Terrasoft.UI.WebControls" requirePermission="false" />
      <section name="pageSchemaControlTypes" type="Terrasoft.UI.WebControls.PageSchemaControlTypeConfigurationSection, Terrasoft.UI.WebControls" requirePermission="false" />
      <section name="fileDesignMode" type="Terrasoft.Core.FileDesignModeSection, Terrasoft.Core" requirePermission="false" />
      <section name="wsService" type="Terrasoft.Messaging.Common.WSConfigurationSection, Terrasoft.Messaging.Common" requirePermission="false" />
      <section name="clientLogger" type="Terrasoft.Nui.ClientLogConfigSection, Terrasoft.Nui" requirePermission="false" />
      <section name="influxReporter" type="Terrasoft.Monitoring.InfluxReportConfigSection, Terrasoft.Monitoring" requirePermission="false" />
      <section name="globalSearch" type="Terrasoft.GlobalSearch.GlobalSearchConfigSection" requirePermission="false" />
      <section name="serviceBus" type="Terrasoft.Core.ServiceBusConfigurationSection, Terrasoft.Core" requirePermission="false" />
      <section name="eventBuffering" type="Terrasoft.Core.EventBuffering.EventBufferingConfigurationSection, Terrasoft.Core" requirePermission="false" />
    </sectionGroup>
    <section name="quartzConfig" type="Terrasoft.Core.Scheduler.QuartzConfigurationSection, Terrasoft.Core.Scheduler" />
    <section name="vaultConfig" type="Terrasoft.Security.Secrets.Vault.VaultConfigSection, Terrasoft.Security.Secrets" />
    <section name="eventSourcing" type="Terrasoft.EventSourcing.Configuration.EventSourcingConfigurationSection, Terrasoft.EventSourcing" />
  </configSections>
  <redis connectionStringName="redis" enablePerformanceMonitor="false" executionTimeLoggingThresholdSec="5" featureUseCustomRedisTimeouts="false" clientRetryTimeoutMs="4000" clientReceiveTimeoutMs="3000" clientSendTimeoutMs="3000" clientConnectTimeoutMs="30000" clientSyncTimeoutMs="30000" clientAsyncTimeoutMs="30000" deactivatedClientsExpirySec="0" operationRetryIntervalMs="5000" operationRetryCount="4" abortOnConnectFail="true" timeToCheckConfigurationSeconds="15" />
  <operationLogger useAdminUserLog="false" useAdminUnitAdminLog="false" useAdminUserRoleLog="false" useAdminEntitySchemaLog="false" useAdminEntitySchemaOperationLog="false" useAdminEntitySchemaExternalServiceLog="false" useAdminEntitySchemaRecordDefRightLog="false" useAdminEntitySchemaColumnLog="false" useAdminOperationLog="false" useAdminSettingsLog="false" useAdminOperationAuditLog="false" useAdminClientIPLog="false" useUserAuthorizationLog="false" useUserSessionLog="false" useDeniedOperationLog="false" />
  <eventSourcing dbProviderFactory="Npgsql" dbType="PgSql" connectionStringName="db" />
  <terrasoft>
    <auth providerNames="InternalUserPassword,SSPUserPassword,SsoAuthProvider,SSPSsoAuthProvider" autoLoginProviderNames="" defLanguage="en-US" defWorkspaceName="Default" useIPRestriction="false" loginTimeout="30000">
      <providers>
        <provider name="InternalUserPassword" type="Terrasoft.Authentication.Core.InternalUserPassword.BaseInternalUserPasswordProvider, Terrasoft.Authentication" />
        <provider name="DomainAuthProvider" type="Terrasoft.Authentication.Core.DomainAuth.DomainAuthProvider, Terrasoft.Authentication">
          <parameters>
            <add name="CanBeUsedForGeneralUsers" value="true" />
            <add name="CanBeUsedForSSPUsers" value="true" />
          </parameters>
        </provider>
        <provider name="SSPUserPassword" type="Terrasoft.Authentication.Core.InternalUserPassword.BaseSspUserPasswordProvider, Terrasoft.Authentication">
          <parameters>
            <add name="mainPageName" value="MainPage" />
            <add name="userPrefix" value="Portal/" />
          </parameters>
        </provider>
        <provider name="LdapNtlmProviderOnWindows" type="Terrasoft.Authentication.Core.Ldap.NetFrameworkLdapProvider, Terrasoft.Authentication">
          <parameters>
            <add name="ServerPath" value="192.168.5.25" />
            <add name="AuthType" value="Ntlm" />
            <add name="DistinguishedName" value="dc=tscrm,dc=com" />
            <add name="UseLoginUserLDAPEntryDN" value="false" />
            <!--<add name="SearchPattern" value="(&amp;(objectCategory=person)(objectClass=user)(!(userAccountControl:1.2.840.113556.1.4.803:=2))(memberOf=CN=SVNUsers,OU=groups,OU=Terrasoft,DC=tscrm,DC=com))" />-->
            <add name="SearchPattern" value="(&amp;(sAMAccountName={0})(objectClass=person))" />
            <add name="KeyDistributionCenter" value="" />
          </parameters>
        </provider>
        <provider name="LdapProvider" type="Terrasoft.Authentication.Core.Ldap.NetStandardLdapProvider, Terrasoft.Authentication">
          <parameters>
            <add name="ServerPath" value="192.168.5.25" />
            <add name="DistinguishedName" value="dc=tscrm,dc=com" />
            <add name="UseLoginUserLDAPEntryDN" value="false" />
            <!--<add name="SearchPattern" value="(&amp;(objectCategory=person)(objectClass=user)(!(userAccountControl:1.2.840.113556.1.4.803:=2))(memberOf=CN=SVNUsers,OU=groups,OU=Terrasoft,DC=tscrm,DC=com))" />-->
            <add name="SearchPattern" value="(&amp;(sAMAccountName={0})(objectClass=person))" />
            <add name="KeyDistributionCenter" value="" />
            <add name="SecureSocketLayer" value="false" />
            <add name="CertificateFileName" value="ldap_certificate_example.cer" />
          </parameters>
        </provider>
        <provider name="SSPLdapProvider" type="Terrasoft.Authentication.Core.Ldap.NetStandardLdapProvider, Terrasoft.Authentication">
          <parameters>
            <add name="UserType" value="SSP" />
            <add name="ServerPath" value="192.168.5.25" />
            <add name="DistinguishedName" value="dc=tscrm,dc=com" />
            <add name="UseLoginUserLDAPEntryDN" value="false" />
            <!--<add name="SearchPattern" value="(&amp;(objectCategory=person)(objectClass=user)(!(userAccountControl:1.2.840.113556.1.4.803:=2))(memberOf=CN=SVNUsers,OU=groups,OU=Terrasoft,DC=tscrm,DC=com))" />-->
            <add name="SearchPattern" value="(&amp;(sAMAccountName={0})(objectClass=person))" />
            <add name="KeyDistributionCenter" value="" />
            <add name="SecureSocketLayer" value="false" />
            <add name="CertificateFileName" value="ldap_certificate_example.cer" />
          </parameters>
        </provider>
        <provider name="SsoAuthProvider" type="Terrasoft.Authentication.Core.SSO.BaseSsoAuthProvider, Terrasoft.Authentication">
          <parameters>
            <add name="UserType" value="General" />
            <add name="UseJit" value="true" />
          </parameters>
        </provider>
        <provider name="SSPSsoAuthProvider" type="Terrasoft.Authentication.Core.SSO.BaseSsoAuthProvider, Terrasoft.Authentication">
          <parameters>
            <add name="UserType" value="SSP" />
            <add name="UseJit" value="true" />
          </parameters>
        </provider>
      </providers>
    </auth>
    <resources>
      <generalSettings resourceDirectory="\Terrasoft.WebApp\bin\Resources\" uiResourceDirectory="..\Terrasoft.Nui\Resources\" primaryCulture="en" />
    </resources>
    <managers>
      <manager scope="app" name="DataValueTypeManager" type="Terrasoft.Core.DataValueTypeManager, Terrasoft.Core" />
      <manager scope="app" name="SystemValueManager" type="Terrasoft.Core.SystemValueManager, Terrasoft.Core" />
      <manager scope="app" name="LicManager" type="Terrasoft.Core.LicManager, Terrasoft.Core" />
      <manager scope="app" name="DesignModeValuesProviderManager" type="Terrasoft.Core.DesignModeValuesProviderManager, Terrasoft.Core" />
      <manager scope="user" name="ProcessSchemaElementManager" type="Terrasoft.Core.Process.ProcessSchemaElementManager, Terrasoft.Core" />
      <manager scope="user" name="DBMetaActionManager" type="Terrasoft.Core.DB.DBMetaActionManager, Terrasoft.Core" />
    </managers>
    <schemaManagers>
      <manager name="EntitySchemaManager" type="Terrasoft.Core.Entities.EntitySchemaManager, Terrasoft.Core" />
      <manager name="ProcessUserTaskSchemaManager" type="Terrasoft.Core.Process.ProcessUserTaskSchemaManager, Terrasoft.Core" />
      <manager name="ProcessSchemaManager" type="Terrasoft.Core.Process.ProcessSchemaManager, Terrasoft.Core" />
      <manager name="DcmSchemaManager" type="Terrasoft.Core.DcmProcess.DcmSchemaManager, Terrasoft.Core" />
      <manager name="CampaignSchemaManager" type="Terrasoft.Core.Campaign.CampaignSchemaManager, Terrasoft.Core" />
      <manager name="ImageListSchemaManager" type="Terrasoft.Core.ImageListSchemaManager, Terrasoft.Core" />
      <manager name="SourceCodeSchemaManager" type="Terrasoft.Core.SourceCodeSchemaManager, Terrasoft.Core" />
      <manager name="ValueListSchemaManager" type="Terrasoft.Core.ValueListSchemaManager, Terrasoft.Core" />
      <manager name="ClientUnitSchemaManager" type="Terrasoft.Core.ClientUnitSchemaManager, Terrasoft.Core" />
      <manager name="AddonSchemaManager" type="Terrasoft.Core.Addons.AddonSchemaManager, Terrasoft.Core" />
      <manager name="ServiceSchemaManager" type="Terrasoft.Services.ServiceSchemaManager, Terrasoft.Services" />
    </schemaManagers>
    <storeDataAdapters>
      <storeAdapter levelName="Request" type="Terrasoft.Store.WebAdapters.RequestDataStore, Terrasoft.Store.WebAdapters" />
      <storeAdapter levelName="Session" type="Terrasoft.Redis.SessionDataRedisStore, Terrasoft.Redis">
        <parameters>
          <add name="connectionStringName" value="redis" />
        </parameters>
      </storeAdapter>
      <storeAdapter levelName="Application" type="Terrasoft.Redis.ApplicationDataRedisStore, Terrasoft.Redis">
        <parameters>
          <add name="connectionStringName" value="redis" />
        </parameters>
      </storeAdapter>
    </storeDataAdapters>
    <storeCacheAdapters>
      <storeAdapter levelName="Session" type="Terrasoft.Redis.SessionCacheRedisStore, Terrasoft.Redis">
        <parameters>
          <add name="connectionStringName" value="redis" />
        </parameters>
      </storeAdapter>
      <storeAdapter levelName="Workspace" type="Terrasoft.Redis.GeneralCacheRedisStore, Terrasoft.Redis">
        <parameters>
          <add name="connectionStringName" value="redis" />
          <add name="hashId" value="Workspace" />
        </parameters>
        <proxies>
          <proxy name="Key" type="Terrasoft.Store.WebAdapters.Proxies.WorkspaceKeyProxy, Terrasoft.Store.WebAdapters" />
        </proxies>
      </storeAdapter>
      <storeAdapter levelName="Application" type="Terrasoft.Redis.GeneralCacheRedisStore, Terrasoft.Redis">
        <parameters>
          <add name="connectionStringName" value="redis" />
          <add name="hashId" value="Application" />
        </parameters>
        <proxies>
          <proxy name="ConstPrefix" type="Terrasoft.Core.Store.PrefixKeyTransformerProxy, Terrasoft.Core">
            <parameters>
              <add name="prefix" value="ApplicationCache:" />
            </parameters>
          </proxy>
        </proxies>
      </storeAdapter>
    </storeCacheAdapters>
    <clientStoreCacheAdapters>
      <clientStoreAdapter levelName="ClientPageSession" clientType="Terrasoft.MemoryStore" />
      <clientStoreAdapter levelName="Domain" clientType="Terrasoft.LocalStore" />
    </clientStoreCacheAdapters>
    <clientLogger loggerName="ClientLogger" error="true" info="true" />
    <fileDesignMode enabled="true" />
    <!-- OperatingMode determines a message bus operating mode. Possible values are: InMemory and Auto. -->
    <serviceBus incomingQueueName="creatio_main" defaultSendAddress="exchange:creatio_exchange" operatingMode="InMemory" messageProcessingThreadsCount="10" rabbitMqTransport.useQuorumQueues="true" />
    <eventBuffering defCleanupThresholdRatio="0.3" />
    <sysSettings configSource="SysSettings.config" />
    <features configSource="Features.config" />
    <db>
      <general securityEngineType="Terrasoft.DB.PostgreSql.PostgreSqlSecurityEngine, Terrasoft.DB.PostgreSql" executorType="Terrasoft.DB.PostgreSql.PostgreSqlExecutor, Terrasoft.DB.PostgreSql" isCaseInsensitive="true" maxAnsiJoinCount="0" engineType="Terrasoft.DB.PostgreSql.PostgreSqlEngine, Terrasoft.DB.PostgreSql" metaEngineType="Terrasoft.DB.PostgreSql.PostgreSqlMetaEngine, Terrasoft.DB.PostgreSql" metaScriptType="Terrasoft.DB.PostgreSql.PostgreSqlMetaScript, Terrasoft.DB.PostgreSql" typeConverterType="Terrasoft.DB.PostgreSql.PostgreSqlTypeConverter, Terrasoft.DB.PostgreSql" connectionStringName="db" binaryPackageSize="1048576" currentSchemaName="public" enableSqlLog="false" sqlLogQueryTimeElapsedThreshold="5000" sqlLogRowsThreshold="100" useOrderNullsPosition="false" maxEntitySchemaNameLength="63" />
    </db>
  </terrasoft>
  <connectionStrings configSource="ConnectionStrings.config" />
  <appSettings>
    <add key="aspnet:RequestQueueLimitPerSession" value="2147483647" />
    <add key="DefaultWorkspaceMode" value="None" />
    <add key="SpellChecker" value="Terrasoft.YandexSpellChecker" />
    <add key="BlockedPopupUrl" value="http://community.terrasoft.com.ua/forum/topic/5679" />
    <!--<add key="MaxViewStateFieldLength" value="4096" />-->
    <add key="UsePathThroughAuthentication" value="false" />
    <add key="UseLoginPagePathThroughAuthentication" value="false" />
    <add key="UseDataValueTypeConverterInSysSettingsEngine" value="true" />
    <add key="SynchronizeUserSessions" value="true" />
    <add key="SynchronizeUserSessionsTimeout" value="0" />
    <add key="RequestTimeout" value="120" />
    <add key="MobileCacheTimeout" value="900" />
    <add key="MsgUserPasswordDESCryptoServiceKey" value="SegFOF6gUpo=" />
    <add key="UsePingServiceToWakeupDomain" value="true" />
    <add key="SendAppWakeUpRequestToLocalhost" value="false" />
    <!--<add key="SspUserRegistrationLicPackage" value ="LicPackageName" />-->
    <add key="DefUserType" value="General" />
    <add key="UseApplicationScheduler" value="true" />
    <add key="UseCsrfToken" value="true" />
    <add key="DisableCsrfTokenValidationForPaths" value="/AuthService.svc/SsoLogin,AuthService.svc/Login,msg/negotiate,AuthService.svc,SSPLogin,MsgUtilService.svc,/msg,/ssp/rest/TestDBDataService/BatchDataQuery,ServiceModel/CspViolationService.svc,/api/PasswordRecovery/SendRecoveryLink,/api/PasswordRecovery/Complete,/AuthService.svc/GetAuthenticationSettings" />
    <add key="RedisLockEntryExpireTimeMin" value="15" />
    <add key="ConfigurationProjectPath" value="" />
    <add key="StandalonePackageProjectFileDirectoryPath" value="Files/" />
    <add key="UseStaticFileContent" value="false" />
    <add key="ConfigurationRuntimeDirectory" value="" />
    <add key="UseNewCachingForSSPUser" value="false" />
    <add key="ForceIndexRebuild" value="true" />
    <add key="UseMasterRecordRights" value="true" />
    <add key="UseSecureSettingsOnClient" value="false" />
    <add key="Feature-UseRuntimeEntitySchemaMetadata" value="true" />
    <add key="Feature-UseRetryRedisOperation" value="true" />
    <add key="SessionLockTtlSec" value="60" />
    <add key="SessionLockTtlProlongationIntervalSec" value="20" />
    <add key="TenantId" value="" />
    <add key="UseMarkerValue" value="true" />
    <add key="LogSessionForSessionLessRequest" value="true" />
    <add key="ShowPortalSelfRegistrationLink" value="true" />
    <add key="Feature-ClearSessionDataInBackgroundUserConnection" value="true" />
    <add key="UsePersonalSessionTimeout" value="true" />
    <add key="Feature-UseSysSettingsEngine" value="true" />
    <add key="Feature-UseConversionToUtcForTimeInOData" value="false" />
    <add key="MaxConfigurationAssemblyBackupCount" value="5" />
    <add key="Feature-ValidateConfigurationOnChange" value="false" />
    <add key="Feature-SortPackageDependenciesByUId" value="true" />
    <add key="UseTypedSspLicense" value="true" />
    <add key="UseSspColumnsCountRestriction" value="false" />
    <add key="DontUseSysSSPEntitySchemaAccessList" value="true" />
    <add key="Feature-AllowOnlyOneSessionPerUser" value="false" />
    <add key="Feature-OAuthTokenLogin" value="true" />
    <add key="Feature-ExternalAccessRestrictions" value="true" />
    <add key="IsolationModePermittedSchemaNames" value="ExternalAccess,ChangeLogEntity,DuplicatesRule,EmailTemplate,Employee,Lookup,MLModel,OAuthApplications,Queue,ScoringModel,SiteEventType,SysAdminOperation,SysAdminUnit,SysLookup,SysModuleFolder,SysSchema,SysTranslation,VwAdministrativeObjects,VwCampaignLog,VwProcessLib,VwSysAdminUnit,VwSysDcmLib,VwSysProcessLog,VwWebServiceV2,SysSettings,SysUserInRole,SysAdminUnitInWorkplace,SysModuleInWorkplace" />
    <!-- -->
    <add key="IsWCFHelpEnabled" value="false" />
    <add key="UseSlo" value="true" />
    <add key="UseQueryKinds" value="false" />
    <add key="QueryOptimizeRowsCountInSourceSchema" value="50000" />
    <add key="QueryOptimizeRowsCountExpireMinutes" value="120" />
    <add key="UseQueryOptimizeOperatorCheck" value="false" />
    <add key="UseSchemaChecksum" value="true" />
    <add key="UseConvertingEmptyConditionToIsNull" value="false" />
    <add key="SdkHelpUrl" value="https://academy.bpmonline.com/documents/technic-sdk/last" />
    <add key="IncludeDebugInformation" value="true" />
    <add key="UseUtcForDate" value="false" />
    <add key="IncludeXmlDocumentation" value="false" />
    <add key="CompilerSourcesTempFolderPath" value="%TEMP%\BPMonline\Site_%APPLICATION%\%WORKSPACE%\Src" />
    <add key="ExtractAllCompilerSources" value="false" />
    <add key="RequireSslForEntityDataService" value="False" />
    <add key="AppendRealmToSvnUserName" value="false" />
    <add key="AutoUpdateDBStructure" value="true" />
    <add key="AutoInstallSqlScript" value="true" />
    <add key="AutoInstallPackageData" value="true" />
    <add key="AutoRegenerateSchemaSources" value="true" />
    <add key="EnablePerformanceManager" value="false" />
    <add key="AllowedFeedbackModules" value="FeedbackModule" />
    <add key="AllowedLocations" value="ServiceModel/MsgUtilService.svc;Nui/Feedback.aspx;Nui/UserManagement.aspx;ServiceModel/GeneratedWebFormService.svc;ServiceModel/ExchangeListenerService.svc;TestTools/Tests.aspx;TestTools/Tests.Debug.aspx;TestTools/Tests.Release.aspx;ServiceModel/TestDataService.svc;ServiceModel/CaseRatingManagementService.svc;ServiceModel/MandrillService.svc;ServiceModel/EventTrackingService.svc;TestTools/UnitTests.aspx;ServiceModel/ScoringService.svc;ServiceModel/CESWebHooksService.svc;ServiceModel/CESTroubleshootingService.svc;ServiceModel/GeneratedObjectWebFormService.svc;Features.aspx;/ServiceModel/ServiceOAuthAuthenticatorEndpoint.svc;ServiceModel/OmnichannelMessagingService.svc;ServiceModel/FacebookOmnichannelMessagingService.svc;ServiceModel/WhatsAppOmnichannelMessagingService.svc;ServiceModel/SocialLeadGenWebhookService.svc;ServiceModel/AlmUserService.svc;ServiceModel/TimelineEntityService.svc" />
    <add key="CompileByManagerDependencies" value="true" />
    <add key="EntityQueryProviderCanReadUncommitedDataDefaultValue" value="true" />
    <add key="UseExtendClientUnit" value="false" />
    <add key="UseForMobileOnly" value="false" />
    <add key="UseClientUnitInstanceCacheForSchemaBundles" value="true" />
    <add key="UseClientUnitInstanceCache" value="false" />
    <add key="DataServiceRestrictedSelectSchemas" value="SysLastUserPassword,SysLic,SysLicUser,SysPackageDependency,SysPackageReferenceAssembly,SysPackageSchemaData,SysPackageSchemaDataColumn,SysPackageSqlScript,SysRepository,SysRepositoryUser,SysSettings,SysSettingsReferenceSchema,SysSettingsValue,SysSettingsRights,SysSqlScriptDependency,SysSSPCustomerSchema,SysSSPEntitySchemaAccessList,SysSSPUser,VwSSPSysAdminUnit,ForecastItemValue,OAuthTokenStorage" />
    <add key="DataServiceRestrictedModifySchemas" value="SysAdminOperation,SysAdminOperationGrantee,SysProcessSchemaOperationRight,SysAdminUnit,SysAdminUnitGrantedRight,SysAdminUnitInRole,SysLastUserPassword,SysLic,SysLicPackage,SysLicUser,SysPackage,SysPackageDependency,SysPackageReferenceAssembly,SysPackageSchemaData,SysPackageSchemaDataColumn,SysPackageSqlScript,SysRepository,SysRepositoryUser,SysSchema,SysSettings,SysSettingsReferenceSchema,SysSettingsValue,SysSettingsRights,SysSqlScriptDependency,SysSSPCustomerSchema,SysSSPEntitySchemaAccessList,SysSSPUser,SysUserInRole,SysUserSession,SysWorkspace,VwSSPSysAdminUnit,VwSysAdminUnit,VwSysClientUnitSchema,VwSysClientUnitSchemaInPackage,VwSysEntitySchemaInPackage,VwSysEntitySchemaInWorkspace,VwSysPageSchemaInWorkspace,VwSysSchemaDataInPackage,VwSysSchemaInPackage,VwSysSchemaInWorkspace,VwSysSqlScriptInPackage,ForecastItemValue" />
    <add key="UseBackgroundProcessMode" value="true" />
    <add key="UserManagementSauName" value="SysPortalConnection" />
    <add key="UserManagementSauPassword" value="Cm6GUdgaZEmvuwaH" />
    <add key="UseSourceControlAuthentication" value="true" />
    <add key="MaxEntityRowCount" value="20000" />
    <add key="MemoryCacheStoreSlidingExpiration" value="30" />
    <add key="UseLoginUserLDAPEntryDN" value="false" />
    <add key="PerformanceLoggerThreshold" value="0" />
    <add key="UseProcessRemindings" value="true" />
    <add key="UseCompiledProcessParamsSerialization" value="false" />
    <add key="UseOffsetFetchPaging" value="true" />
    <add key="UseSchemaManagersDI" value="true" />
    <add key="UseEntitySchemaLczNaming" value="true" />
    <add key="UseLookupNotEqualOrNullQueryCondition" value="true" />
    <add key="RegenerateDependentProcessSchemaSources" value="false" />
    <add key="UseLocalizableFetchFromDB" value="true" />
    <add key="UseCurrentCultureEntityFetch" value="true" />
    <add key="UseCSATRatingService" value="true" />
    <add key="UseCachedClientUnitSchemaManager" value="false" />
    <add key="UseIsoWeeks" value="false" />
    <add key="AppMetaInfoServiceUrl" value="https://marketplace.creatio.com/marketplace/install" />
    <add key="LicRequestServiceUrl" value="http://tslicense/LicenseServer/LicenseServer.svc/LicenseRequest/Stream" />
    <add key="AddTrialLicenceServiceUrl" value="http://tslicense/LicenseServerTest/LicenseServer.svc/LicenseRequest/AddTrialLicense" />
    <add key="ShowSessionEndNotification" value="true" />
    <add key="UseDBSequence" value="false" />
    <add key="UseOracleServer2012NullsSortingOptimization" value="false" />
    <add key="UseOracleFirstRowsHint" value="false" />
    <add key="UseMobileManifestCache" value="true" />
    <add key="UseRecordDeactivation" value="true" />
    <add key="UseMobileClientUnitSchemaCache" value="false" />
    <add key="UseAdditionalSortingByIdWhenOffsetFetch" value="true" />
    <add key="Feature-UseProcessFailoverExecution" value="true" />
    <add key="ProcessFailoverExecutionTimeout" value="300000" />
    <add key="Feature-UseAdminRightsInEmbeddedLogic" value="false" />
    <add key="Feature-ProcessParameterCollections" value="true" />
    <add key="Feature-ReadDataUserTaskUseChunks" value="false" />
    <add key="UseMarkerValue" value="true" />
    <add key="UseMetricReporter" value="false" />
    <add key="MinQueryDurationToSaveMetrics" value="15000" />
    <add key="Feature-UseSysSettingsRedisCacheProvider" value="false" />
    <add key="Feature-EnableSysSettingsRightsEngine" value="true" />
    <add key="Feature-DisableODataSystemTablesAccess" value="true" />
    <add key="Feature-UseProcessInvocationCalls" value="true" />
    <add key="FeatureUseSchemaManagerCaptionOptimization" value="true" />
    <add key="FeatureLoadPackagesRefAssembliesOnAppStart" value="false" />
    <add key="FeatureLoadPackagesBinAssembliesOnAppStart" value="true" />
    <add key="EnableRegisterServicesFromRefAssemblies" value="true" />
    <add key="EnableRegisterAddonsFromRefAssemblies" value="true" />
    <add key="EnableRegisterEntityEventsFromRefAssemblies" value="true" />
    <add key="EnableRegisterDIBindingsFromRefAssemblies" value="true" />
    <add key="BuildEsqReverseAggregationColumnsWithoutExistsFilters" value="true" />
    <add key="MarketPlaceUrlTemplate" value="https://marketplace.creatio.com/api/widget?lang={0}&amp;product={1}&amp;cid={2}" />
    <add key="UsePortalDataService" value="true" />
    <add key="EnableCustomPrefixRouteApi" value="true" />
    <add key="UseSspServicesListAsAccessExclusions" value="true" />
    <add key="Feature-IndexCommunicationOptionsAndLookupsBy2Symbols" value="true" />
    <add key="Feature-SetSchemaCreatedByIdEqualToCurrentUser" value="true" />
    <add key="Feature-CheckImageMimeType" value="true" />
    <add key="Feature-NetStandardCompatibilityMode" value="true" />
    <add key="Feature-UseSeparateDirectoryToLoadPackageAssemblies" value="true" />
    <add key="Feature-UseAutofacDIContainer" value="true" />
    <add key="Feature-ReadPackageUIdFromMetadata" value="false" />
    <add key="UpdateDbStructureOnceForEachSchemaName" value="true" />
    <add key="Feature-UseODataV4" value="true" />
    <add key="Feature-UseEsqOffsetPagingInEntityQueryProvider" value="true" />
    <add key="CookiesSameSiteMode" value="Lax" />
    <!-- None, Lax, Strict -->
    <add key="InitializationSecurityVector" value="mHybCHNqfMYA883P" />
    <add key="CurrentSecurityKey" value="GSYAHAGCBDUUADIADKOPAAAW" />
    <add key="OmnichannelMessagingIntegrationApiUrl" value="https://sm-account.creatio.com/" />
    <add key="Feature-UseDelayedSchedulerStart" value="true" />
    <add key="Feature-UseNetcoreDomainAuth" value="true" />
    <add key="Feature-UseFileUploadSecurityFilter" value="true" />
    <add key="Feature-UseDataServiceFileUploadSecurityFilter" value="true" />
    <add key="Feature-UseODataFileUploadSecurityFilter" value="true" />
    <add key="Feature-UseOtherServicesFileUploadSecurityFilter" value="true" />
    <add key="Feature-ReplaceQueryColumnConstsWithParameters" value="false" />
    <add key="DenySqlTextApiUsage" value="false" />
    <add key="DenyCustomQueryApiUsage" value="false" />
    <add key="Feature-EnableOAuth20Integration" value="true" />
    <add key="Feature-UseHttpsMetadataForIdentityAuthorization" value="false" />
    <add key="ThreadPoolWorkerThreads" value="100" />
    <add key="Feature-UseCompilationByNecessity" value="true" />
    <add key="Feature-UseProcessInstanceStateManager" value="true" />
    <add key="Feature-UseRetryDistributedCacheWrapper" value="true" />
    <add key="Feature-UseStreamResponseFilter" value="false" />
    <add key="UseSourceCodeSchemaGenerator" value="true" />
    <add key="AllowStandaloneAssembly" value="true" />
    <add key="CompileStandalonePackageEntitySchema" value="false" />
    <add key="UseEntitySchemaGenerator" value="false" />
    <add key="Feature-SortPackageSchemaDataContent" value="true" />
    <add key="Feature-EnableSyncParentForChangedManagerItem" value="true" />
    <add key="UseAsyncStaticContentGeneration" value="false" />
    <add key="UseAsyncPackageInstallation" value="false" />
    <add key="UseAsyncSchemaCaptionsInstallation" value="false" />
    <add key="UseBulkSaveSchemaResourcesInstallation" value="false" />
    <add key="UseParallelSchemaDataInstallation" value="false" />
    <add key="LoadPackageStorageOnInstall" value="false" />
    <add key="UseChangedStaticContentGeneration" value="true" />
    <add key="UseSchemaInfoDictionaryComparer" value="false" />
    <add key="UseClientUnitSchemaManagerRefreshIfItemsExist" value="true" />
    <add key="UseRegisterStartTimerEventsLock" value="true" />
    <add key="Feature-SaveSysSchemaContentInTransaction" value="false" />
    <add key="Feature-SuppressSysSchemaContentSaveErrors" value="false" />
    <add key="UseAuthCookieId" value="true" />
    <add key="EnableNetCoreXForwardedProto" value="true" />
    <add key="PartialRefreshManagersOnInstall" value="true" />
    <add key="Feature-AutoAddPackageDependencies" value="true" />
    <add key="Feature-AutoAddPackageDependenciesFromCaptions" value="true" />
    <add key="FileCacheFolder" value="FileCache" />
    <add key="UseHttpHeaderProvider" value="true" />
    <add key="RedisUseTls" value="false" />
    <add key="RedisCertPath" value="" />
    <add key="RedisCertPass" value="" />
    <add key="DisableRedisTlsCertificateValidation" value="false" />
    <add key="UseCspActualizer" value="true" />
    <add key="Feature-UseAppEventsEntityChangeTracking" value="true" />
    <add key="ODataMaxExpansionDepth" value="2" />
    <add key="Feature-UsePackageInstallScripts" value="true" />
    <add key="Feature-AddPlatformInfoToLicenseRequest" value="true" />
    <add key="Feature-ReInitializeDesignResources" value="true" />
    <add key="WebSocketMaximumReceiveMessageSize" value="1000000" />
    <add key="EnableViewModelConfigDiffSelfTest" value="true" />
    <add key="EnableSchemaServiceRemoveViewModelAttribute" value="false" />
    <add key="EnableViewModelConfigDiff" value="true" />
    <add key="CloneEsqFilterCollectionProperties" value="true" />
    <add key="EnableModelConfigDiffSelfTest" value="true" />
    <add key="EnableModelConfigDiff" value="true" />
    <add key="EnableNewSysSettingsReader" value="true" />
    <add key="UseSchemaOutletReuseViewStrategy" value="true" />
    <add key="UseMfForAngularElements" value="true" />
    <add key="UseMfForAngularElements_8_1_3" value="true" />
    <add key="SwitchOffErrorListDialogMf" value="true" />
    <add key="UseReuseViewStrategyBindingActivator" value="true" />
    <add key="UseLazyComponentCreationInDesignTime" value="true" />
    <add key="Feature-UseCampaignAudienceValidationStep" value="false" />
    <add key="JsonDifferIdentifyItemsByNameForSchemaViewConfigDiff" value="true" />
    <add key="UseDesignerHotSwapViewModel" value="true" />
    <add key="UseJsonTypeNameHandlingParameter" value="false" />
    <add key="EnableSearchStrategyToggleButtons" value="false" />
  </appSettings>
  <quartzConfig defaultScheduler="BPMonlineQuartzScheduler">
    <quartz isActive="true">
      <add key="quartz.serializer.type" value="binary" />
      <add key="quartz.scheduler.instanceId" value="AUTO" />
      <add key="quartz.scheduler.instanceName" value="BPMonlineQuartzScheduler" />
      <add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz" />
      <add key="quartz.threadPool.threadCount" value="5" />
      <add key="quartz.jobStore.misfireThreshold" value="300000" />
      <add key="quartz.jobStore.clustered" value="false" />
      <add key="quartz.jobStore.dataSource" value="SchedulerDb" />
      <add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.PostgreSQLDelegate, Quartz" />
      <add key="quartz.dataSource.SchedulerDb.provider" value="Npgsql" />
      <add key="quartz.dataSource.SchedulerDb.connectionStringName" value="db" />
      <add key="quartz.jobStore.acquireTriggersWithinLock" value="false" />
    </quartz>
    <quartz isActive="true">
      <add key="quartz.serializer.type" value="binary" />
      <add key="quartz.scheduler.instanceId" value="AUTO" />
      <add key="quartz.scheduler.instanceName" value="CampaignQuartzScheduler" />
      <add key="quartz.threadPool.threadCount" value="2" />
      <add key="quartz.jobStore.misfireThreshold" value="300000" />
      <add key="quartz.jobStore.clustered" value="false" />
      <add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz" />
      <add key="quartz.jobStore.dataSource" value="SchedulerDb" />
      <add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.PostgreSQLDelegate, Quartz" />
      <add key="quartz.dataSource.SchedulerDb.provider" value="Npgsql" />
      <add key="quartz.dataSource.SchedulerDb.connectionStringName" value="db" />
      <add key="quartz.jobStore.acquireTriggersWithinLock" value="false" />
    </quartz>
    <quartz isActive="true">
      <add key="quartz.serializer.type" value="binary" />
      <add key="quartz.scheduler.instanceId" value="AUTO" />
      <add key="quartz.scheduler.instanceName" value="BulkEmailQuartzScheduler" />
      <add key="quartz.threadPool.threadCount" value="2" />
      <add key="quartz.jobStore.misfireThreshold" value="300000" />
      <add key="quartz.jobStore.clustered" value="false" />
      <add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz" />
      <add key="quartz.jobStore.dataSource" value="SchedulerDb" />
      <add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.PostgreSQLDelegate, Quartz" />
      <add key="quartz.dataSource.SchedulerDb.provider" value="Npgsql" />
      <add key="quartz.dataSource.SchedulerDb.connectionStringName" value="db" />
      <add key="quartz.jobStore.acquireTriggersWithinLock" value="false" />
    </quartz>
    <quartz isActive="true">
      <add key="quartz.serializer.type" value="binary" />
      <add key="quartz.scheduler.instanceId" value="AUTO" />
      <add key="quartz.scheduler.instanceName" value="TouchPointsQuartzScheduler" />
      <add key="quartz.threadPool.threadCount" value="1" />
      <add key="quartz.jobStore.misfireThreshold" value="300000" />
      <add key="quartz.jobStore.clustered" value="false" />
      <add key="quartz.jobStore.type" value="Quartz.Impl.AdoJobStore.JobStoreTX, Quartz" />
      <add key="quartz.jobStore.dataSource" value="SchedulerDb" />
      <add key="quartz.jobStore.driverDelegateType" value="Quartz.Impl.AdoJobStore.PostgreSQLDelegate, Quartz" />
      <add key="quartz.dataSource.SchedulerDb.provider" value="Npgsql" />
      <add key="quartz.dataSource.SchedulerDb.connectionStringName" value="db" />
      <add key="quartz.jobStore.acquireTriggersWithinLock" value="false" />
    </quartz>
  </quartzConfig>
  <vaultConfig hostUri="" authMethodType="" token="" secretsEnginePath="" certName="" certFilePath="" certPassword="" />
</configuration>